body {
  box-sizing: border-box;
  text-align: center;
  margin: 30px 160px 10px 180px;
  max-width: 100%
}

h1,h2 {
  font-family:"Zilla-Slab";
  font-weight: 700;
}

h3,p,li{
  font-family: "Slabo";
  font-weight: normal;

}

ul {
  list-style: none;
}

section {
  line-height: 2em;
}

.concon {
  display: flex;
  justify-content: space-around;
}

.text2 {
  text-align: left;
}
.text1 {
  text-align: right;
}

.contactskills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.contact,.skills {
  flex-basis: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#icon {
  font-size: 21px;
}
/*Changements des tailles de dots*/
div.icon:nth-child(2) > ul:nth-child(1) > li:nth-child(1) {
    font-size:21px;
}
div.icon:nth-child(2) > ul:nth-child(1) > li:nth-child(2) {
    font-size:19px;
}
div.icon:nth-child(2) > ul:nth-child(1) > li:nth-child(3) {
    font-size:17px;
}
div.icon:nth-child(2) > ul:nth-child(1) > li:nth-child(4) {
    font-size:15.5px;
}

div.icon:nth-child(2) > ul:nth-child(1) > li:nth-child(5) {
    font-size:14px;
}


.edexp{
  display: flex;
  justify-content: space-around;
}

.educexp {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.educ,.exp {
  display: flex;
  flex-flow: row;
  justify-content: center;
  }

.form {
  width: 390px;
}

.educexp ul{
  line-height: 2.7em;
}

.dates li{
  font-weight: 600;
}

.interets {
  display: flex;
  justify-content: space-around;
}

.rugby{
  margin-left: 13px;
}
.mondeasso {
  margin-left:16px;
}
.part1 {
  background-color: #d9e6f9;
  margin-bottom: 20px;
}

@keyframes fadein {
    from {color: #aacbff;}
    to {color: #5f6163;}
}

.concon  {
    color:#5f6163 ;
    animation-name: fadein;
    animation-duration: 2s;
}


@keyframes fadein2 {
    from {color: #d9e6f9;}
    to {color: #5f6163;}
}

.contact,a,.skills {
    color:#5f6163 ;
    animation-name: fadein2;
    animation-duration: 4s;
    }

.part2{
  background-color: #f4f6f9;
}

@keyframes fadein3 {
    from {color: #aacbff;}
    to {color: #5f6163;}
}

.edexp  {
    color:#5f6163 ;
    animation-name: fadein3;
    animation-duration: 2s;
}


@keyframes fadein4 {
    from {color: #f4f6f9;}
    to {color: #5f6163;}
}

.educ,a,.exp {
    color:#5f6163 ;
    animation-name: fadein4;
    animation-duration: 8s;
    }

.part3 {
      background-color: #d9e6f9;
    }

@keyframes fadein5 {
        from {color: #aacbff;}
        to {color: #5f6163;}
    }

.inter  {
        color:#5f6163 ;
        animation-name: fadein5;
        animation-duration: 2s;
      }

@keyframes fadein6 {
          from {color: #d9e6f9;}
          to {color: #5f6163;}
      }

.sports,.passions {
          color:#5f6163 ;
          animation-name: fadein6;
          animation-duration: 12s;
          }
