body {
  box-sizing: border-box;
  text-align: center;
  margin: 30px 160px 10px 180px;
  max-width: 100%
  position: absolute;
}

h1,h2 {
  font-family: "Signika";
  font-weight: 700;
}

h3,p,li{
  font-family: "Bree Serif";
  font-size: 1.2em;

}

main h2 {
  outline: 3px dotted #303235;
  outline-offset: 5px;
}

.entete {
  border: 10px dashed #d9e6f9;
  outline:10px dashed #dee1e5;
  outline-offset: 5px;
  margin: 62px ;
  z-index: -1;
  padding-bottom: 50px;
  color: #303235;

}
.entete h1 {
  font-size: 3em;
}
.entete h2{
  color: #5f6163;
  font-size: 2em;
}

.entete h3{
  position:fixed;
  top: 270px;
  color: #303235;
  left: 31.5%;
  background-color:white;
  z-index: 0;
}

main {
  position: relative;
  z-index:1;
}

ul {
  list-style: none;
}

section {
  line-height: 2em;
}
#hand {
  font-size: 40px;
  margin-right: 15px;
}

.concon {
  display: flex;
  justify-content: space-around;
}

.text2 {
  text-align: left;
}
.text1 {
  text-align: right;
}

.contactskills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.contact,.skills {
  flex-basis: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#icon {
  font-size: 21px;
}
/*Changements des tailles de dots*/
div.icon:nth-child(2) > ul:nth-child(1) > li:nth-child(1) {
    font-size:21px;
}
div.icon:nth-child(2) > ul:nth-child(1) > li:nth-child(2) {
    font-size:19px;
}
div.icon:nth-child(2) > ul:nth-child(1) > li:nth-child(3) {
    font-size:17px;
}
div.icon:nth-child(2) > ul:nth-child(1) > li:nth-child(4) {
    font-size:15.5px;
}

div.icon:nth-child(2) > ul:nth-child(1) > li:nth-child(5) {
    font-size:14px;
}


.edexp{
  display: flex;
  justify-content: space-around;
}

.educexp {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.educ,.exp {
  display: flex;
  flex-flow: row;
  justify-content: center;
  }

.form {
  width: 390px;
}

.educexp ul{
  line-height: 2.7em;
}

.dates li{
  font-weight: 600;
}

.interets {
  display: flex;
  justify-content: space-around;
}

.rugby{
  margin-left: 13px;
}
.mondeasso {
  margin-left:16px;
}
.part1 {
  background-color: #d9e6f9;
  margin-bottom: 20px;
  position: sticky;
}

@keyframes fadein {
    from {color: #aacbff;}
    to {color: #5f6163;}
}

.concon  {
    color:#5f6163 ;
    animation-name: fadein;
    animation-duration: 2s;
}


@keyframes fadein2 {
    from {color: #d9e6f9;}
    to {color: #5f6163;}
}

.contact,a,.skills {
    color:#303235 ;
    animation-name: fadein2;
    animation-duration: 3s;
    }

.part2{
  background-color: #f4f6f9;
  margin-bottom: 20px;
}

@keyframes fadein3 {
    from {color: #aacbff;}
    to {color: #5f6163;}
}

.edexp  {
    color:#5f6163 ;
    animation-name: fadein3;
    animation-duration: 2s;
}


@keyframes fadein4 {
    from {color: #f4f6f9;}
    to {color: #5f6163;}
}

.educ,a,.exp {
    color:#303235 ;
    animation-name: fadein4;
    animation-duration: 6s;
    }

.part3 {
      background-color: #d9e6f9;
    }

@keyframes fadein5 {
        from {color: #aacbff;}
        to {color: #5f6163;}
    }

.inter  {
        color:#5f6163 ;
        animation-name: fadein5;
        animation-duration: 2s;
            }

@keyframes fadein6 {
          from {color: #d9e6f9;}
          to {color: #5f6163;}
      }

.sports,.passions {
          color:#303235 ;
          animation-name: fadein6;
          animation-duration: 9s
                  }
