body {
  box-sizing: border-box;
  text-align: center;
  margin: 30px 180px 10px
}

h1,h2 {
  font-family:"Zilla-Slab";
  font-weight: 700;
}

h3,p,li{
  font-family: "Slabo";
  font-weight: normal;
  text-align: left;
}

ul {
  list-style: none;
}
.right{
  text-align: right;}
  

section {
  line-height: 2em;
}

div {
  display: flex;
  justify-content: space-around;}

div section{
  flex-basis: 40%;
}
